html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(29, 29, 33);
  }
}

@media (max-width: 640px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.notion-viewport {
  z-index: -100;
}

.notion-header {
  display: none;
}

.notion-container {
  max-width: 100vw;
}

.dark-mode {
  --bg-color: rgb(29, 29, 33) !important;
}

.notion-full-page {
  padding-bottom: 0 !important;
}
